[submodule "source/vendor/cereal"]
	path = source/vendor/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "source/vendor/ctti"]
	path = source/vendor/ctti
	url = https://github.com/Manu343726/ctti.git
[submodule "source/vendor/glfw"]
	path = source/vendor/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
[submodule "source/vendor/imgui"]
	path = source/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "source/vendor/stb"]
	path = source/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "source/vendor/glm"]
	path = source/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "source/vendor/freetype"]
	path = source/vendor/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
	ignore = dirty
[submodule "source/vendor/rectpack2D"]
	path = source/vendor/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
[submodule "source/vendor/inih"]
	path = source/vendor/inih
	url = https://github.com/benhoyt/inih.git
[submodule "source/vendor/zlib"]
	path = source/vendor/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "source/vendor/rapidxml"]
	path = source/vendor/rapidxml
	url = https://github.com/dwd/rapidxml.git
[submodule "source/vendor/glad"]
	path = source/vendor/glad
	url = https://github.com/Dav1dde/glad.git
	ignore = dirty
[submodule "source/vendor/Catch2"]
	path = source/vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "source/vendor/eastl"]
	path = source/vendor/eastl
	url = https://github.com/electronicarts/EASTL.git
[submodule "source/vendor/atomic_queue"]
	path = source/vendor/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
[submodule "source/vendor/taskflow"]
	path = source/vendor/taskflow
	url = https://github.com/cpp-taskflow/cpp-taskflow.git
