:root{
	--message-dark:          rgba(40, 40, 40, 0.97);
	--message-light:         rgba(60, 60, 60, 0.97);
	--message-notify-dark:   #5200cc;
	--message-notify-light:  #6600ff;
	--message-warning-dark:  #e65c00;
	--message-warning-light: #ff6600;
	--message-error-dark:    #cc0000;
	--message-error-light:   #e60000;
	--message-fatal-dark:    #990000;
	--message-fatal-light:   #b30000;
	--message-bang-dark:     #e67300;
	--message-bang-light:    #ff8000;
	--message-good-dark:     #739900;
	--message-good-light:    #99cc00;
	--message-bad-dark:      #990033;
	--message-bad-light:     #cc0044;

	--message-head:  rgba(80, 80, 80, 0.97);
	--body:          rgba(20, 20, 20, 0.97);
	--body-fg:       rgba(240, 240, 240, 0.97);
	--border:        rgba(100, 100, 100, 0.97);
}

body {
	background: var(--body);
}

header{
	padding: 10px;
	margin: 0;
	border-width: 2px;
	border-style: solid;
	border-color: var(--border);
	border-radius: 5px;
	background: var(--body);
	color: var(--body-fg);
	text-align: center;
	vertical-align: middle;
}

.wrapper{
	display: flex;
	height: 90vh;
	max-height: 90vh;
}

.panel{
	padding: 10px;
	margin: 0;
	border-width: 2px;
	border-style: solid;
	border-color: var(--border);
	border-radius: 5px;
	background: var(--body);
	color: var(--body-fg);
	overflow-y: scroll;
	background: #101010;
}

#message-container{
	flex: 3;
}

#controls-container{
	flex: 1;
	overflow: hidden;
}

.message{
	background-color: var(--message-dark);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(var(--message-dark)), to(var(--message-light)));
    background:-moz-linear-gradient(var(--message-dark), var(--message-light));
    background:-o-linear-gradient(var(--message-dark), var(--message-light));
	background: linear-gradient(var(--message-dark),var(--message-light));
	border-radius: 5px;
	margin-bottom: 1px;
	margin-right: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	display: block;
}

.chan-hidden{
	display: none;
}

.sev-hidden{
	display: none;
}

.messagehead{
	width: 7%;
	background-color: var(--message-head);
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
}
.timestamp{
	text-align: center;
	font-size: 11px;
}
.channel{
	color: #000000;
	text-align: center;
	font-size: 11px;
}
.location-caption{
	font-size: 12px;
}

.type-item{
	margin-left: 25px;
}
.type-notify{
	background-color: var(--message-notify-dark);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(var(--message-notify-dark)), to(var(--message-notify-light)));
    background:-moz-linear-gradient(var(--message-notify-dark), var(--message-notify-light));
    background:-o-linear-gradient(var(--message-notify-dark), var(--message-notify-light));
	background: linear-gradient(var(--message-notify-dark),var(--message-notify-light));
}
.type-warning{
	background-color: var(--message-warning-dark);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(var(--message-warning-dark)), to(var(--message-warning-light)));
    background:-moz-linear-gradient(var(--message-warning-dark), var(--message-warning-light));
    background:-o-linear-gradient(var(--message-warning-dark), var(--message-warning-light));
	background: linear-gradient(var(--message-warning-dark),var(--message-warning-light));
}
.type-error{
	background-color: var(--message-error-dark);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(var(--message-error-dark)), to(var(--message-error-light)));
    background:-moz-linear-gradient(var(--message-error-dark), var(--message-error-light));
    background:-o-linear-gradient(var(--message-error-dark), var(--message-error-light));
	background: linear-gradient(var(--message-error-dark),var(--message-error-light));
}
.type-fatal{
	background-color: var(--message-fatal-dark);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(var(--message-fatal-dark)), to(var(--message-fatal-light)));
    background:-moz-linear-gradient(var(--message-fatal-dark), var(--message-fatal-light));
    background:-o-linear-gradient(var(--message-fatal-dark), var(--message-fatal-light));
	background: linear-gradient(var(--message-fatal-dark),var(--message-fatal-light));
}
.type-bang{
	background-color: var(--message-bang-dark);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(var(--message-bang-dark)), to(var(--message-bang-light)));
    background:-moz-linear-gradient(var(--message-bang-dark), var(--message-bang-light));
    background:-o-linear-gradient(var(--message-bang-dark), var(--message-bang-light));
	background: linear-gradient(var(--message-bang-dark),var(--message-bang-light));
}
.type-good{
	background-color: var(--message-good-dark);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(var(--message-good-dark)), to(var(--message-good-light)));
    background:-moz-linear-gradient(var(--message-good-dark), var(--message-good-light));
    background:-o-linear-gradient(var(--message-good-dark), var(--message-good-light));
	background: linear-gradient(var(--message-good-dark),var(--message-good-light));
}
.type-bad{
	background-color: var(--message-bad-dark);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(var(--message-bad-dark)), to(var(--message-bad-light)));
    background:-moz-linear-gradient(var(--message-bad-dark), var(--message-bad-light));
    background:-o-linear-gradient(var(--message-bad-dark), var(--message-bad-light));
	background: linear-gradient(var(--message-bad-dark),var(--message-bad-light));
}